.dynamic {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter, sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #000;

  border: 2px solid #e5e7eb;
  border-radius: 20px;

  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
